@model Digishop.Models.ProductViewModel

<h4>ProductViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Product naam:</label>
                <input asp-for="ProductName" class="form-control" required />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label">Product prijs:</label>
                <input asp-for="ProductPrice" class="form-control" required />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label">Beschrijving:</label>
                <textarea asp-for="ProductDescription" class="form-control" required></textarea>
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImage" class="control-label">Afbeeldingslink:</label>
                <input asp-for="ProductImage" class="form-control" required />
                <span asp-validation-for="ProductImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryID" class="control-label">Kies categorie:</label>
                @Html.DropDownListFor(pvm => Model.CategoryID,new SelectList(Model.categories, "CategoryID", "CategoryName"))
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Maak aan" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
}

 
@*@if (Model.products != null)
{
    @foreach (var cvm in Model.products)
    {
        <tr>
            <td>@cvm.ProductName</td>
        </tr>
    }
}
*@
<table class="table">

    <tbody>
        @if (Model.products != null)
        {
            @foreach (var pvm in Model.products)
            {
                <tr>
                    <td>@pvm.ProductName @(pvm.Delete == DateTime.MinValue ? "Archive" : "Unarchive")</td>
                    <td><a asp-action="ArchiveProduct" asp-controller="Product" asp-route-id="@pvm.ProductID" class="btn btn-danger">Archive</a></td>
                    <td><a asp-action="ArchiveProduct" asp-controller="Product" asp-route-id="@pvm.ProductID" class="btn btn-warning">Unarchive</a></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }