@model ProductViewModel
@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.ProductName</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>@Model.ProductName</h1>
    <img src="@Model.ProductImage" alt="" class="product1 .pro img" />
    <h3>@Model.ProductPrice</h3>
    <p>@Model.ProductDescription</p>
    <div class="reviewcontainer">
        <h2>@Model.reviews.Count Beoordelingen van onze klanten</h2>
        <form method="post">
            <div class="Createreviewcontainer">
                <label for="reviewTitle">Titel</label>
                <input name="reviewTitle" asp-for="reviewTitle"/>
                <label for="reviewString">Review</label>
                <textarea name="reviewString" asp-for="reviewString"></textarea>
                        @Html.HiddenFor(nvm => nvm.ProductID, new {@value = Model.ProductID})
                <input type="submit" name="name" value="Verstuur" />
                </div>
        </form>
        @foreach (ReviewViewModel rvm in Model.reviews)
        {
            <div class="ReviewItem">
                <p>
                    @rvm.Title - @rvm.Text - @rvm.Rating - <b>@rvm.Firstname - @rvm.Lastname</b> - @rvm.Created
                </p>
            </div>
        }
    </div>
</body>
</html>